[2020-01-07 04:47] jooola opened #1 "Enable Typescript 'strict' mode"
I think we should enable Typescript strict mode in order to get the benefits it involves.

Not sure if this is easily doable, I'll try.

[2020-01-07 04:48] jooola opened #2 "Write tests"
This plugin need to be fully tested in order to make the development easy. A Directus backend will be required to perform basic calls on it.

[2020-01-07 18:31] loganwishartcraig commented on #1
Agreed!

I just gave it a go and am working on fixing the type errors.

[2020-01-07 20:01] loganwishartcraig commented on #2
Yeah, testing's a big one.

Should we host our own Directus instance or just mock the SDK? Might be easier to mock the SDK - could be a better boundary, wouldn't want errors to occur as a result of the SDK rather than the plugin. Would also be easier to generate/maintain the mock data.

[2020-01-07 20:45] jooola commented on #2
I had the idea of running a dumb directus instance in the CI, but you are right about mocking the SDK. Having the tests locally is better. Maybe E2E tests could be done in the future, but that's another problem.

[2020-01-07 20:47] jooola commented on #2
Actually no, I'm not sure which way is better. Maybe testing small things by mocking the SDK is good enough for any local development, but I would definitely add some e2e testing in the CI.

[2020-01-07 21:04] #1 closed

[2020-01-08 02:31] jooola opened #5 "Publish to NPM"
We need to publish this project to NPM in order for people to start using it, even if it isn't tested yet.

The current name collide with the existing `gastby-source-directus` package, but I suggested we use the `@directus` namespace, and push this project under `@directus/gatsby-source-directus`.

The process should be done in the Github actions, this allow us to use secret tokens without having

[2020-01-08 13:24] benhaynes commented on #5
Thanks @jooola! I defer to Rijk on this one... he's our project's technical lead. 👍

[2020-01-08 15:21] rijkvanzanten commented on #5
Sounds good!

Lets update the version to be < 1.0.0 to not cause any confusion about the readiness of this package

https://github.com/directus/gatsby-source/blob/24228187e6c4e591dd659844bf9b75d33612da2f/package.json#L3

Also, do we prefer `@directus/gatsby-source-directus` or `@directus/gatsby-source`? I personally prefer the second

[2020-01-08 15:36] jooola commented on #5
@rijkvanzanten It was mainly to comply with the Gatsby naming convention https://www.gatsbyjs.org/docs/naming-a-plugin/

They didn't suggested any rules regarding namespaced/scoped packages, so wanted to be sure the name will not cause any trouble.

Anyway, I just asked the gatsby project what would be the best option for us.

[2020-01-08 15:37] rijkvanzanten commented on #5
Gotcha. Lets see what they have to say about that 👍

[2020-01-08 15:39] jooola commented on #5
Just browsed few npm packages :
https://www.npmjs.com/package/@kentico/gatsby-source-kontent
https://www.npmjs.com/package/@moltin/gatsby-source-moltin

So there seem to be a pattern but it isn't documented yet.

[2020-01-08 18:13] loganwishartcraig commented on #2
Honestly, e2e tests might be the way to go. So much of the plugin depends on the shape of the API responses. It would be nice to have Directus changes reflected in failed tests instead of trying to keep track of changes we'd need to make to dummy data.

I think we should implement e2e tests first, then potentially build some dummy data to test components in isolation later down the line.

Thoughts

[2020-01-08 18:18] loganwishartcraig opened #7 "Usage Examples"
Currently we don't have any actual usage examples, just documentation on how to configure the plugin.

Might be nice to have some examples of how to actually use the plugin and sample queries.

[2020-01-08 19:54] jooola commented on #5
@rijkvanzanten So we have the answer from Gatsby, and they suggest keeping the verbose name. What do you decide ?

[2020-01-08 19:55] rijkvanzanten commented on #5
Cool, so we'll go with `@directus/gatsby-source-directus` then 🙂 Do you think the plugin is done enough for a `1.0.0-alpha.1` release, or should we go with `0.0.1` for now?

[2020-01-08 20:10] jooola commented on #5
@rijkvanzanten I just changed the version to `0.1.0` so we are safe to bump the version when we feel it is stable enough.

[2020-01-09 16:45] #5 closed

[2020-01-10 02:11] jooola commented on #2
@loganwishartcraig Ok, I worked a bit on the e2e testing.

The solution I came up with is to use the CI on the Github side with docker services and to use docker-compose on the developer side.

This adds a few dependencies for testing but that's not a big deal I think.

See #8

[2020-01-10 20:00] loganwishartcraig opened #10 "Selectively download files"
Just an idea - could be cool to allow selectively downloading files via some user-defined filter specified in the configuration.

Currently, you either have to download all the files, or nothing. Could see a use-case where someone wants to just download some set of images to use with gatsby-image.

[2020-01-10 20:02] loganwishartcraig commented on #2
@jooola

Sounds awesome! I'll check out that PR to see how they're set up and try contributing some test cases.

Will reach out if any questions come up!

[2020-01-14 05:00] #7 closed

[2020-01-18 04:54] loganwishartcraig opened #11 "Error running when installed from NPM"
Getting the following error when trying to use the plugin in a gatsby project.

**Error: Unable to find plugin "@directus/gatsby-source-directus". Perhaps you need to install its package?**

Think it has to do with the build process pushing everything into ```dist```.

If I pull everything out into the root directory and update package.json to  ```"main": "gatsby-node.js"``` it works fine.

[2020-01-18 04:56] loganwishartcraig commented on #11
I tried leaving everything in ```dist``` and setting ```"main": "dist/gatsby-node.js"``` but had the same issue.

[2020-01-19 05:38] jacobrienstra opened #13 "Runner.query is not a function"
Hello! just upgraded to this from the old plugin and got this error:

[code]

Help

[2020-01-19 07:54] loganwishartcraig commented on #13
Hmm. Not sure what might cause that. Does it ocurr when you comment out the plguin config from ```gatsby-config.js``` or ```npm remove``` the plugin from the project?

Looks like an error that might not be explicitly related to this plugin - just want to make sure.

[2020-01-19 13:01] jacobrienstra commented on #13
Yeah that’s what I thought but when I switch to the old plugin (source directus cms) it goes away

[2020-01-19 23:03] #11 closed

[2020-01-19 23:28] loganwishartcraig commented on #13
What does your ```gatsby-config.js``` look like?

The project actually has a deployment issue right now, Gatsby shouldn't even be loading the plugin.

Structurally, the [gatsby-source-directus-cms](https://github.com/loganwishartcraig/gatsby-source-directus-cms) plugin and this currently have no differences. The deprecation warning is to signal that future development will happen on this project.

[2020-01-19 23:40] loganwishartcraig opened #14 "Deploying to NPM"
@jooola Not sure how deployments to NPM work for this repo, can you advise? Saw a couple GitHub actions, but it doesn't seem like any of them include an active ```npm publish``` directive.

@rijkvanzanten you wouldn't know, would you?

[2020-01-20 01:23] jooola commented on #14
Posting this just quick, I'm on vacation:
You need to use npm version command, to create a new version (patch/minor/major) (see the man page)

This will generate a Git tag and you can then push the tag to github. Github will then build test and publish the package to NPM.

Check the package.json file and try the following command : `npm run release -h` (not sure about the -h )

TLDR; `npm release

[2020-01-20 01:26] jooola commented on #14
And yeah sorry forgot to uncomment this task...

https://github.com/directus/gatsby-source/blob/master/.github/workflows/publish.yml#L35

[2020-01-20 06:46] loganwishartcraig commented on #14
@jooola

Thanks!
Hope you have a good vacation :D

[2020-01-20 11:43] jooola commented on #14
Ok, I shouldn't have tried to cut out a new release now, but I did it anyway... I'll document the process so that I'm not the only one making mistakes.

[2020-01-20 12:15] jooola commented on #14
Fixed by 9af939f0bdd89d929396dea261afcc4f68bd6d06

[2020-01-20 12:15] #14 closed

[2020-01-20 19:31] loganwishartcraig commented on #13
@jacobrienstra Just FYI - that deployment issue I mentioned has since been resolved. Should be able to install the plugin with no issues.

[2020-01-20 19:38] loganwishartcraig opened #15 "Proactively fetch updates"
Opening this as a note.

Would be cool if the plugin could pull in content changes into the dev server using a Directus webhook. Similar to the [gatsby-source-sanity](https://github.com/sanity-io/gatsby-source-sanity) ```watchMode: true``` option.

Mentioned in gatsby docs (here)[https://www.gatsbyjs.org/docs/creating-a-source-plugin/#improve-plugin-developer-experience-by-enabling-faster-sync]

[2020-01-21 00:44] jacobrienstra commented on #13
Ahh I bet that was it. Thank you!

[2020-01-21 00:50] loganwishartcraig commented on #13
Fingers crossed - let us know if it's resolved!

[2020-01-21 18:53] juliosouza-pushstart opened #16 "Support localization"
Is there any way to support field translations when using this source?

In the current state, we are required process the query result to merge the translated fields with the default one.

[2020-01-21 18:58] juliosouza-pushstart commented on #16
For reference, https://www.gatsbyjs.org/packages/@fika/gatsby-source-cockpit/ does translations by joining the API results with a gatsby-config.js defined `languages` array.

When using that source, for every entry in a collection in the CMS, there are multiple nodes with a `lang` property in the GraphQL node list, one for each language, and an extra one for `any`. Filtering the nodes using the `l

[2020-01-21 20:48] loganwishartcraig commented on #16
Hey, @juliosouza-pushstart thanks for the suggestion.

Using the example schema from the docs ([here](https://docs.directus.io/guides/relationships.html#translations)), are you requesting we create a new ```article``` node for each related ```article_translation``` language, and merge the two entities fields?

[2020-01-21 21:03] juliosouza-pushstart commented on #16
Yeah, that should work. Do you think that makes sense?

Also, this could be behind a toggle config, so we keep backwards compatibility.

[2020-01-21 21:37] juliosouza-pushstart commented on #16
I believe that wouldn't work because translation entries are optional:

Say we have a `fruit` collection with `name` text field and a `translation` field. In the `fruit_translation` collection, we also have a `name` text field. In this model, the translated name is optional, falling back to `fruit.name`.

**This is a query currently supported and its result:**

[code]

[code]

Note that "Banana" d

[2020-01-21 23:45] loganwishartcraig commented on #16
I see what you mean about the ```banana``` record not showing up when the query is performed given that ```{ lang: { eq: "pt" }``` filter.

I'd be a bit hesitant to create separate nodes & a fallback for each translation in the plugin itself though. How would we source the data for the ```any``` translation in the event the child schema has no fields in common with it's parent? It also sort of "mi

[2020-01-22 03:48] loganwishartcraig commented on #13
Gonna close this. Feel free to open another issue if it's not resolved.

[2020-01-22 03:48] #13 closed

[2020-01-22 14:23] juliosouza-pushstart commented on #16
This is a fair concern. I'd favor API consistency over my original proposal.

That said, I'm not sure if any of the alternatives would help with seamlessly accessing translated fields as if they were part of the main object. It would still be necessary to have a utility function to process the result and merge the `translations` entry with its parent.

As a beginner with GraphQL, I feel this is a

[2020-01-23 00:08] loganwishartcraig commented on #16
Yeah, I mean I definitely see your point about it being cumbersome to have to apply additional processing to the data the query returns. However, I can't really think of a clean way to implement that functionality it in the plugin without altering the data Directus returns. It seems like something that needs to be supported at the query level (i.e. within Gatsby)

Hopefully the way your translatio

[2020-01-23 14:08] juliosouza-pushstart commented on #16
Indeed! This is what we have in place for now

[code]

[2020-01-27 02:22] loganwishartcraig commented on #16
Awesome! I'm gonna close this for now - hopefully Gatsby will support field level filters soon.

[2020-01-27 02:22] #16 closed

[2020-01-28 20:01] Steven-Harris opened #17 "childImageSharp support on images"
Reopening issue [#19](https://github.com/Jonesus/gatsby-source-directus7/issues/19) from _Jonesus's_ repo. Basically, I have a collection with some text and images. I would like to use
[code]

[2020-01-28 23:27] loganwishartcraig commented on #17
Hey @Steven-Harris - thanks for this.

I'm hoping all you need to do is modify your query to use the ```localFile``` sub-field that should be attached to the ```photo``` field.

[code]

This assumes you have not set ```downloadFiles``` to ```false``` in your ```gatsby-config.js```

Let us know if that solves your issue!

[2020-01-29 22:09] Steven-Harris commented on #17
Awesome, thanks @loganwishartcraig! That got it!

[2020-01-29 22:09] #17 closed

[2020-02-06 15:19] jooola opened #18 "Why do we use a custom logger ?"
@loganwishartcraig Why do we use a custom logger ? Is that intended ?
Can't we use the default one ?

[2020-02-07 18:29] loganwishartcraig commented on #18
The repo that inspired the plugin did it that way. It helps pre-format the log messages a bit, and I thought it might be nice in case we wanted to swap out loggers in the future.

Does Gatsby itself expose a logger, or would you suggest we just use ```console``` directly?

[2020-02-07 23:47] jooola commented on #18
I think using console is the right way to do. Gatsby uses many loggers depending on the environment.

But gatsby uses something overkill, let's stick to our own dumb logger.

[2020-02-07 23:47] #18 closed

[2020-02-10 17:47] cdanny358 opened #22 "Can't install with latest versions of node"
`yarn add @directus/gatsby-source-directus` fails with the following error, with node 13.5.0 installed on my system:

`error @directus/sdk-js@6.0.1: The engine "node" is incompatible with this module. Expected version ">=8.0.0 <13.0.0". Got "13.5.0"`
`error Found incompatible module.`

Any way around it, other than downgrading node? Ultimately I was hoping that `gatsby-source-graphql` would work d

[2020-02-10 18:05] loganwishartcraig commented on #22
Looks like we need to to upgrade a dependency.

Will release a hotfix for that as soon as we can. Thanks for letting us know!

[2020-02-10 19:51] jooola commented on #22
See https://github.com/directus/sdk-js/pull/136

[2020-02-10 19:58] jooola commented on #22
sdk-js 6.0.2 has been released with the fix.

[2020-02-10 20:59] danielkrux opened #23 "`undefined` is added to the end of url"
![image](https://user-images.githubusercontent.com/43535212/74189282-642d3380-4c50-11ea-85c7-5b9830d2d389.png)

As you can see above, `undefined` is added to the end of the link in when I try to run gatsby in develop.

My `gatsby.config.js`

[code]

[2020-02-10 23:37] loganwishartcraig commented on #23
Thanks for this. Try setting the project name explicitly in the configuration. I believe the demo's project name is "thumper", so adding ```project: "thumper"``` to the config options might resolve this. I'm not sure off the top of my head if it's case sensitive, it might be "Thumper".

Might be an issue with how we're setting defaults.

[2020-02-11 01:14] jooola commented on #23
@loganwishartcraig  Should we fail hardly when a project name is not set ? The default '_' changed to 'api', or needs a name. We should reflect that.

[2020-02-11 01:35] loganwishartcraig commented on #23
@jooola Yeah currently we just pass ```undefined``` to the direct sdk-js if nothing was specified in the config. I don't think we ever actually explicitly set "_" as the default because per the [docs](https://docs.directus.io/guides/js-sdk.html#reference), it should default to that in the sdk itself.

The error log says the SDK "has no project" though, so I guess it's not defaulting to "_"? I thin

[2020-02-11 23:07] #22 closed

[2020-02-12 09:20] #23 closed

[2020-02-12 20:50] nkcr opened #27 "GSD_CMS error Failed to fetch files."
It happens that I had to **upload at least a PDF file** in order to avoid the following error when running `gatsby develop`:

[code]

I know this is partially described in the "Known limitations" section. I'm just leaving this there in case that could help others.

[2020-02-12 23:37] loganwishartcraig commented on #27
This could be related to PR #28

[2020-02-12 23:54] loganwishartcraig commented on #27
PR #28 released.

Gonna close this, thanks for the issue though!

[2020-02-12 23:54] #27 closed

[2020-02-14 01:52] jooola opened #31 "Use yarn as default node package manager ?"
@loganwishartcraig What do you think about this change ?

[2020-02-14 02:00] jooola opened #32 "Enhance documentation, reduce README size"
I propose to move the code samples, and any advanced documentation in a /docs folder with smaller files. I feel like having everything in the `README` is really not easy to read/manage.

We need to structure the docs a bit more, so that it is browsable for those who seek for advanced configuration sample.

I might move the release documentation in its own file. So if newcomers search the docs it w

[2020-02-14 13:58] rijkvanzanten commented on #32
Let's consider putting it as a guide on docs.directus.io if you wanna go the separate website route

[2020-02-14 16:58] jooola commented on #32
I feel like having all the docs in a single README is hard to manage but handy for those who read the plugin doc on the [Gatsby plugins page](https://www.gatsbyjs.org/packages/@directus/gatsby-source-directus/?=@directus). It needs to be considered.

A work around could be to link the documentation to the github docs folder ?

[2020-02-14 17:12] rijkvanzanten commented on #32
You can structure the main readme.md (used on the gatsby site) as a table of contents with links to the individual chapters that reside elsewhere

[2020-02-17 18:42] kayosouza opened #34 "UNHANDLED REJECTION Encountered an error trying to infer a GraphQL type"
After a few weeks into the development of a project, i started receiving this error message whiile trying to run gatsby develop, now no version of the application works since we use directus as our main source of content, seems like the problem is in the process of creating the GraphQL schema

[code]
Have anyone experienced something similar?

[2020-02-17 18:43] kayosouza commented on #34
After a few weeks into the development of a project, i started receiving this error message whiile trying to run gatsby develop, now no version of the application works since we use directus as our main source of content, seems like the problem is in the process of creating the GraphQL schema

[code]
Have anyone experienced something similar?

[2020-02-17 22:39] loganwishartcraig commented on #31
Never used yarn personally, but I wouldn't have any issues with switching!

[2020-02-17 22:42] loganwishartcraig commented on #32
Yeah - I think just splitting the current readme into separate pages would be nice, not sure we'd have the content volume to justify a separate statically generated site.

It might also be nice to rework the examples to work with the Directus demo site instead of the arbitrary data types I created?

[2020-02-17 23:08] loganwishartcraig commented on #34
Hey, appreciate you posting this issue. Some questions!

Can you confirm the version of Directus you're using, the version of the plugin you have, and your ```gatsby-config.js``` (with authentication details removed)? You mentioned this issue just started occurring - have you recently changed the definitions for any collections, or did it just occur out of the blue?

My initial feeling would be th

[2020-02-17 23:22] kayosouza commented on #34
[code]

Lib version: "@directus/gatsby-source-directus": "^0.2.1",

We deleted part of our content in a moment of despair, but just so i can understand:

[2020-02-17 23:43] loganwishartcraig commented on #34
Gotcha, you might try updating the plugin to ```v0.2.3```, but I doubt that would solve the issue here.

But yeah, generally this error

[code]

would be the result of some record having referenced ```curso``` records with Directus IDs 3-15 in it's ```cursos``` field, but those records don't seem to get processed by the plugin for some reason. Often it's because the records aren't being returned b

[2020-02-18 21:57] elfatherbrown opened #35 "Paging and large collections"
Hey guys. Great work with all this.
I have a use case that involves thousands of records whilst directus will return a max of 300 for any get_items call by default. Limitless searches require a -1 in the limit query field, but I do understand this might not be the best strategy for the plugin.

For now im just using a modified version as I have to get this done asap.I include this change at the en

[2020-02-19 03:27] JulioC commented on #35
I've just spent a few hours trying to debug a related issue:

When loading collections with images as relations, some of the items were missing their images in the GraphQL data. After a long debug session, I've found out the plugin was skipping `addRelation` (in `ContentRelation._updateTable`) because the related file was not found in `directus_files` collection.

It turns out only the first 200 f

[2020-02-19 22:30] loganwishartcraig commented on #34
Hey - just a heads up, this could also be related to #35

[2020-02-19 22:34] loganwishartcraig commented on #35
Hey, this is great, thank you for reporting!

We'll definitely need to add something to resolve this. I like the idea of setting a ```limit``` option with per collection overrides available.

@jooola What do you think a sensible default for the limit is? Should we go for ```"-1"``` to include all records, or ```undefined``` to use the Directus default? I'm leaning towards ```"-1"``` myself, where

[2020-02-20 10:56] stahldom opened #36 "Failed to fetch collections"
I'm pretty new Directus so this can be user error.

Set up the Gatsby Starter on Local, as well as Directus on Local. Created a new collection, added two items and set it to public. I also set every system collection to public as well to be certain everything is accessible.

My gatsby-config entry is:
[code]

When starting ```gatsby develop```, I get the following error:

[code]

When checking dir

[2020-02-20 12:24] stahldom commented on #36
I installed a fresh version of Directus from git (the previous was Docker) and now it works fine. Are there some extra steps to take if we use the Docker container?

[2020-02-20 15:17] jooola commented on #32
@loganwishartcraig Yup, good point. First lets split the docs, then rewrite them to follow the demo data set.

[2020-02-20 16:25] jooola commented on #35
@loganwishartcraig We could assume people working with this gatsby-source package are the also the Directus server admins. So setting the limit to `-1` is ok for me as they know what they are doing, still I feel like this isn't clean and more like a workaround.

We should consider 2 things: Rate limiting and Query timeout. Those settings a linked to server and client performances.
We cannot run 10

[2020-02-20 16:31] jooola commented on #36
@stahldom Seems like the error was on the server side. I don't think there are any extra step when using docker, haven't used it though. So take my word with caution.

You error seems also really generic (network error), this might be a little mistake while setting up your server.

I suggest you to ask in the Directus community channel  https://directus.chat.

Closing this, reopen if you think it

[2020-02-20 16:31] #36 closed

[2020-02-20 16:36] jooola commented on #31
@rijkvanzanten I'd like to be consistent with the other Directus projects, do you have any preference/default for such tools ?

This isn't really a problem for me, but since I'm trying to build a good organization for this project, and in the long run export it to the other Directus projects I'd like to know which node package manager would be preferred ?

[2020-02-20 16:41] rijkvanzanten commented on #31
I personally prefer Yarn over NPM 👍

[2020-02-20 18:24] loganwishartcraig commented on #35
@jooola Just for clarity, you're thinking is we'd expose two config options? A ```rateLimit``` defining the maximum number of records returned for each query, and a ```queryThrottle``` defining the how long we'd wait between API requests?

Would be cool if pagination were naively supported by the SDK, but I don't think it would be too hard to implement on our end here in the plugin. The API seems

[2020-02-20 18:34] jooola commented on #35
Wasn't thinking about query throttle, but why not. That's a good idea. I was more thinking about HTTP server timeout.

That said I don't know which option is better, query a lot, or a lot of queries. Maybe I'm looking for an false problem.

[2020-02-28 15:11] kayosouza commented on #34
We think what caused the issue here was deleting a referenced object, like we deleted  a curso but the places where we used it was still referencing this.

[2020-03-02 21:57] #35 closed

[2020-03-02 22:10] loganwishartcraig commented on #34
Ah, gotcha. I'll go ahead and close this issue then, feel free to open another one if something else pops up.

[2020-03-02 22:10] #34 closed

[2020-03-02 22:11] JulioC commented on #35
The accepted PR doesn't change anything related to `getAllFiles` method, so the bug will still happens if you have too many media files in Directus

[2020-03-03 00:09] loganwishartcraig commented on #35
@JulioC The other calls are addressed in a subsequent commit f43fc6e which was included in the release

[2020-03-03 00:10] loganwishartcraig commented on #35
I'll make a note about that in the PR chain

[2020-03-03 05:14] ComputerCarl opened #38 "Cannot query null values in GraphQL"
I understand this may be a limitation of GraphQL, but I have an issue where if all the values of a field of `null`, I cannot query for the field.

Say if I have a field named `special_instructions`, and a value will rarely exist in this field, what is the recommendation? Can I tell GraphQL it's a String field somehow?

It would see rather error prone to use a filler value such as `none` which I wo

[2020-03-04 19:23] loganwishartcraig commented on #38
Hey! This is an extension of this [issue in](https://github.com/gatsbyjs/gatsby/issues/6800) in Gatsby, which apparently already has a work around I wasn't aware of.

Turns out, you can. See [this blog post](https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/) for details. Assuming the exposed node name in the GraphQL schema is ```directusOrder```, you'd add the following to your ``

[2020-03-05 17:22] jooola opened #40 "Upstream breaking compatibility"
### Describe the bug

Upstream directus sdk-js made breaking changes in a patch version.

The following commit is fatal for us: https://github.com/directus/sdk-js/commit/c891f3643495d4524898ff69da1e100dd0f4947d

We need to fix this ASAP.

[2020-03-05 18:14] #2 closed

[2020-03-05 20:00] #31 closed

[2020-03-05 20:02] jooola commented on #40
I changed the directus/sdk-js version to a fixed version 6.0.2 in 073cdab7488606ff783af0c401088cdca2ad4c34

We still need to fix this.

[2020-03-06 00:51] jooola commented on #40
Fixed in #42

[2020-03-06 00:51] #40 closed

[2020-03-07 21:41] sondr3 opened #43 "Created a O2M relationship, deleted it again and now I get a warning"
### Describe the bug

During some testing I created a collection called `wat` where I created a O2M relation to the `users` collection, whatever I attempted didn't work and I deleted the field and the newly created junction collection. However, whenever I run `gatsby develop` now I get the following warning:

[code]

### Environment information

- **@directus/gatsby-dource-directus version**: `"@d

[2020-03-07 22:54] jooola commented on #43
@sondr3 Thanks for the report, is the bug still present after cleaning gatsby cache ?

Could you try to run gatsby clean just after the bug raises ?

[2020-03-07 23:21] sondr3 commented on #43
Yeah, neither running `gatsby clean` or deleting `node_modules` and then reinstalling removes the message. Though I'm fairly certain this is a hickup from the server itself it's still mildly annoying as I've removed a bunch of other similar relationships but they don't give any warnings.

[2020-03-08 00:00] jooola commented on #43
@sondr3 Ok, I'll try to reproduce this later.

We should search similar issues on directus/api before going too far on this one.

[2020-03-08 21:53] loganwishartcraig commented on #43
This may be resulting from ditectus not completely cleaning up the internal ```directus_relations``` table when you remove a relation? I've experienced something similar with M2M like this [related issue](https://github.com/directus/api/issues/873)

Try checking that table manually, if the records corresponding to the deleted field is present, remove them manually. For a O2M relation I think there

[2020-03-08 22:04] loganwishartcraig commented on #43
Also, was this maybe a M2M relation rather than O2M?  The ```junction_field: 'directus_files_id'``` field makes me think it was a M2M. Would fit more with the issue I mentioned as well

[2020-03-08 22:47] sondr3 commented on #43
Might've been a M2M, I can't recall because I was doing a bunch of different testing at the time. But removing the rows manually in the `directus_relations` table made the warning go away, thanks! :smile:

[2020-03-09 20:01] loganwishartcraig commented on #43
Great! Glad it worked out 😄

[2020-03-09 20:01] #43 closed

[2020-03-11 00:15] jooola opened #51 "Test using gatsby"
### Is your feature request related to a problem? Please describe.

We are currenlty testing the content-mesh, but I would like to test the project from API to generated files. I don't know if it is really useful.

I didn't found any way to spin up a gatsby build process, we need to do some searches.

[2020-03-11 01:27] #32 closed

[2020-03-19 09:09] HashemKhalifa opened #61 "downloadFiles? the used files instead of all files!"
I'm using the download files flag to download all the images and files from directus, but there are so many files which I'm not using in the project. and

Is there's a way we can improve that? like only download the needed resources? I think will help very much during the build especially when I'm using the image-sharp plugin to generate thumbnails.

[2020-03-25 18:44] loganwishartcraig commented on #61
Hey! Yeah, this is something I'd like to address in #57. I'd like to expose a per collection 'filter' that would get passed to the SDK during the request.

[2020-03-26 08:17] HashemKhalifa commented on #61
That sounds great, I can help if there's something I can do!

[2020-03-27 19:25] loganwishartcraig commented on #61
Cool! Will keep you posted, thanks for that!

[2020-03-27 20:46] jooola commented on #15
Just think out loud.

How would this be done ? It seems really tricky.

- Pinging the server for changes?
- Cannot use web sockets (maybe indirectly?)

[2020-03-30 20:45] loganwishartcraig commented on #15
Yeah, it does seem really tricky.

The way the `gatsby-source-sanity` plugin does it is by hooking into an event stream provided by their SDK. As far as I know, this isn't possible with the Directus SDK.

Just an idea: I'm wondering how difficult it would be to extend the API to expose a `/gatsby_subscribe` endpoint that could hook into events. Something that would sort of combine usage of the [cu

[2020-04-28 17:36] samis-dv opened #120 "Data not being passed by context"
### Describe the bug

When creating a page using createPage the data that is put into context is not passed through. An example of my code and error are
gatsby-node.js file

[code]
teams.tsx file
[code]
Then when I build the graphql
`Errors: Variable "$name" of required type "String!" was not provided.`

### Environment information

- **@directus/gatsby-dource-directus version**: ^0.2.6
- **Direct

[2020-04-28 20:06] loganwishartcraig commented on #120
Hey,

Not entirely sure this is related to the plugin yet - it seems like it may be more related to how the `teams` component is being consumed in your app.

As a sanity check, have you tested the query in the graphiql explorer?

I think what may be happening is the `teams` component is used somewhere else in your app (outside of `gatsby-node.js`) and its not being provided any context.

All this

[2020-04-28 21:08] samis-dv commented on #120
@loganwishartcraig  Yes I copied I checked this query in the graphql explorer and I am even running it on my page if I dont pass in the data it works fine and returns everything.

Also for sanity check I have a separate graphql query running on a different pafe and tried to pass in a number for limit (10) but it stopped working as soon as I tried to pass data and threw the same error about data no

[2020-04-28 22:19] loganwishartcraig commented on #120
Ah, I think the problem is your component `teams.tsx` is located in the `pages/` directory.

All components in `pages/` get processed by gatsby automatically and no context is provided when gatsby processes them. That's why the query runs fine when no variables are used.

Try moving the `teams.tsx` out of the `pages/` directory and into to a new directory (e.g. `templates/`)

[2020-04-28 22:22] loganwishartcraig commented on #120
See more here in the [gatsby docs](https://www.gatsbyjs.org/docs/gatsby-project-structure/#folders)

[2020-04-29 22:21] samis-dv commented on #120
That worked maybe it should be in the readme, it wasn't super obvious this was the reason and I even asked on the Gatsby discord channel for help but nobody knew the answer and told me to change the plugin.

[2020-04-29 22:21] #120 closed

[2020-05-06 17:21] jooola opened #133 "Leverage directus graphql endpoint."
### Describe the bug

A clear and concise description of what the bug is.

### Environment information

- **@directus/gatsby-dource-directus version**: _exact version in your `npm`/`yarn` lock file (e.g. `@0.2.3`)_
- **Directus version**: _version of your Directus setup (e.g. `v8.5.4`)_
- **Gatsby version**: _if relevant, version of Gatsby (e.g. `Gatsby CLI version: 2.8.29`)_

### To Reproduce

St

[2020-05-07 00:20] rijkvanzanten commented on #133
That's accurate, v10 will have full graphql support across the board

[2020-05-07 17:58] loganwishartcraig commented on #133
Sounds awesome! Definitely think it would be cool to see how we can integrate.

Couple paths we might consider are

- Swapping out the `DirectusService` with one that utilizes some graphql library like Apollo to implement all the data fetching - keeping the rest of the plugin the same
- Wrapping the `gatsby-source-graphql` plugin with config specific to the Directus use-case

I haven't looked exte

[2020-05-07 19:17] rijkvanzanten commented on #133
@loganwishartcraig I wouldn't rely on it being available across the board. We're considering adding support, but it relies too much on server environment. PHP doesn't have any core support for websockets, and seeing it isn't a constantly running process (by default), it's impossible to offer websockets reliably in every server environment that can host Directus.

You'll have to see subscriptions a

[2020-05-20 14:12] prKrumm opened #156 "gatsby-source & gatsby-plugin-sharp in graphql query"
I am trying to use gatsby-image, gatsby-plugin-sharp (image processing) with the pictures uploaded from Directus.

similar to Gatsby-source-wordpress I would like to graphql query images like this:

`
query {
  api {
    projects {
      image {
        name
        url
        childImageSharp {
          fluid(width: 180, height: 180) {
            src
          }
        }
      }
    }
  }
}
`

[2020-05-22 01:54] loganwishartcraig commented on #156
Hi,

Could you provide us with more info around your specific setup and what you've tried?

`gatsby-plugin-sharp` should be supported assuming you have it and `gatsby-transformer-sharp` installed. See more on their respective [docs pages](https://www.gatsbyjs.org/packages/gatsby-transformer-sharp/). Additionally, you should have the field set up in Directus using `file` or `files` interface, and o

[2020-06-03 12:34] HashemKhalifa commented on #156
@prKrumm I think directus plugin has nothing to do with the image processing.

here is how I'm using the image component

`import React from 'react'
import Img from 'gatsby-image'
import { graphql, useStaticQuery } from 'gatsby'

export const Image = ({ imgName, index, className }) => {
  const { allImageSharp } = useStaticQuery(
    graphql`
      query allTheImagesQuery {
        allImageSharp {

[2020-06-05 03:53] loganwishartcraig commented on #156
Thanks for the added info @HashemKhalifa

@prKrumm I'm going to close this - let us know if you're still having issues.

[2020-06-05 03:53] #156 closed

[2020-06-23 10:24] iryanrachman opened #184 "update doc to have /public/ in url"
i don't know why, but sometimes it may need to add public after the url maybe because of shared hosting. at least we know if it comes of to that in the doc

[2020-06-24 22:03] iryanrachman opened #192 "why does my array not accepted by the server"
i have tried to send a data using form... and i get stuck after trying to send array to the directus..
[code]

[2020-06-25 02:55] loganwishartcraig commented on #192
Hi @iryanrachman

I think you might be posting this issue in the wrong repo? If you're talking about the javascript sdk, try [@directus/sdk-js](https://github.com/directus/sdk-js). This repo is for the Gastby source plugin.

[2020-06-25 02:55] #192 closed

[2020-06-25 02:55] loganwishartcraig commented on #184
Can you explain a little more? What URL?

[2020-06-25 10:40] iryanrachman commented on #184
the api sir.. in the doc.. sometimes in the shared hosting we get example.com/public not like in the doc sir.. this can make the other confused for a moment.. so we should just add some explanation that we may have to add public after the url

[2020-06-25 21:54] loganwishartcraig commented on #184
I think you might be posting in the wrong repo, this one is dedicated to the Gatsby source plugin, not the direcuts api.

For the api in general, you might try posting here [@directus/api](https://github.com/directus/api) or maybe here [@directus/docs](https://github.com/directus/docs) to suggest changes to the documentation

[2020-06-25 21:54] #184 closed

[2020-06-26 01:42] iryanrachman commented on #184
i am talking about gatsby source directus tho.. see ur config doc..

[2020-06-26 23:39] loganwishartcraig commented on #184
Oh, I think I understand what you're saying. Are you saying we should add something the the configuration examples documentation that clarifies the 'url' property isn't always the servers origin?

[2020-07-03 17:23] ssijak opened #197 "Files fail downloading on a slow internet connection without retry"
### Describe the bug

Files fail downloading on a slow internet connection. Files are normal images, no file larger then few megs. At some random file it just stops downloading and prints this for each file till the end :
[code]

### Environment information

- **@directus/gatsby-dource-directus version**: 0.2.6
- **Directus version**: any
- **Gatsby version**: any

### To Reproduce

Start a projec

[2020-07-03 17:42] ssijak commented on #197
Digging through the source code I see that `gatsby-source-filesystem` is used to download the file and that library has retry and timeout limits stuck to some values. But, they can use the parameter for the number of concurent downloads `concurrent: process.env.GATSBY_CONCURRENT_DOWNLOAD || 200`. Setting this value to 20 seems to solve my problem on this connection. Maybe it is worth mentioning it

[2020-07-06 12:28] adiusz commented on #38
I'm running same issue with DatoCMS. I have template file for products (generating by gatsby-node), but not all products has the same fields. In result I get `TypeError: can't access property "url", data.datoCmsProduct.technicalSpec is null`.
This is what my query looks like:

[code]

I tried what you posted up @loganwishartcraig with my variable names, but it didn't work.

[2020-07-06 22:44] loganwishartcraig commented on #38
Hey @adiusz

You might want to check out the gatsby blog post outlining the method: [https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/](https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/)

I can't speak to your exact usecase, but in general you'd need to name the type the same as it is generated by whatever DatoCMS plugin you're using. You might want to ask on the

[2020-07-06 22:46] loganwishartcraig commented on #197
Nice, glad to hear you sorted it out. I agree we should mention we use gatsby-source-filesystem with a link to further customization.

[2020-07-06 22:56] #197 closed

[2020-07-06 22:56] #38 closed

[2020-07-06 22:57] loganwishartcraig commented on #10
Closed because this is essentially a dupe of #61

[2020-07-06 22:57] #10 closed

[2020-07-14 00:13] loganwishartcraig opened #207 "Multiple M2M relations using the same underlying junction collection aren't included"
### Describe the bug

When two or more separate fields are set up as M2M fields, but both use the same underlying junction collection, only one of them is processed by the plugin.

### Environment information

- **@directus/gatsby-dource-directus version**:  0.2.6
- **Directus version**:  8.8.0
- **Gatsby version**: Gatsby CLI version: 2.7.44

### To Reproduce

1) Build any M2M field, and generate

[2020-07-21 17:40] jf-home opened #216 "Error while running the sourceNodes lifecycle"
Trying to run up a gatsby develop session and get the following message:

"gatsby-source-directus" threw an error while running the sourceNodes lifecycle

### Environment information

- **@directus/gatsby-source-directus version** v0.0.44
- **Directus version**: v8.8.0
- **Gatsby version**: v2.24.7

### To Reproduce on Windows 10 (using Docker Desktop)

1. Install Docker Desktop application on Win

[2020-07-21 19:18] jf-home commented on #216
I believe this is more of a Gatsby - Docker issue rather than a CMS-specific problem as I have also run into the same issue when running Cockpit as a Docker on my Windows 10 system as well.

[2020-07-24 20:42] loganwishartcraig commented on #216
Gotcha, thanks for the report!

Did you manage to confirm if this is a Gatsby - Docker issue, or if it's localized to the plugin?
Happy to look into it more if you're only seeing this when using this plugin.

[2020-08-05 19:10] #216 closed

[2020-08-05 19:10] loganwishartcraig commented on #216
Closed as "dependency issue"

[2020-08-05 19:15] #207 closed

[2020-08-11 14:48] muhzulzidan opened #239 "Download Files fail"
### Describe the bug

images or files are not downloaded, and not loaded, I am trying to get data from https://demo.directus.io/, and especially from the news collection, and there is an item that contains an image, but in gatsby, it is not shown, because it is not downloaded

### Environment information

- **@directus/gatsby-dource-directus version 0.2.9
- **Directus version the stable one ?
- **

[2020-08-11 19:21] loganwishartcraig commented on #239
Hey! Thanks for the submission.

Could you elaborate a bit? Are you talking about images embedded into the `body` field - the WYSIWYG content? The WYSIWYG editor saves absolute URI's for images, so the paths for any downloaded files wont match whats saved by the WYSIWYG editor. This plugin downloads Directus files using `gatsby-source-filesystem` for use with other transform plugins anyway, not re

[2020-08-12 05:38] muhzulzidan commented on #239
yeah just noticed that but what about the others files, it is not downloaded too..

we don't use it yet, but we might use it.

[2020-08-13 17:47] loganwishartcraig commented on #239
What do you mean by "the other files aren't downloaded"?

Are they not available in the graphql layer? Are you expecting them to be downloaded at some specific location on your disk?

Using your config I was able to query files normally, see below. Is something missing?
![image](https://user-images.githubusercontent.com/7434537/90168693-5321c400-dd52-11ea-9c15-660b8cf3f523.png)

[2020-08-24 20:01] loganwishartcraig commented on #239
Hey - closing this as inactive. Feel free to open a new issue if needed.

[2020-08-24 20:01] #239 closed

[2020-09-29 19:03] mettany opened #283 "Resolving Directus relation on excluded or non allowed relation"
### Describe the bug

In a case where we have multiple collections with relations between them but not allowed or excluded in the configuration, the plugin is trying to resolve relations.
The ContentMesh is logging a warning "directus Unable to resolve Directus relation" on the build02MRelations. It's checked if the collection_many or collection_on are directus relation but not if the configuratio